<p id="notice"><%= notice %></p>
<% @product.specific.attributes.each_pair do |name, value| %>
    <%= name %>: <%= value %> <br>
  <% end %>

Amount: <%= number_field(:purchase, :quantity, in: 1..@product.quantity, step: 1) %>
<a id="buynow" >Buy it Now</a>
<a id="putcart"  >Put in Cart</a>

<%= link_to 'Back', products_path %>
