<h1>This new cart orders</h1>
<tbody>
    <%= form_tag('/orders/create_cart_orders') do %>
        <td><%= number_field_tag 'postcode' %></td>
        <td><%= text_field_tag 'name' %></td>
        <td><%= text_field_tag 'phone' %></td>
        <td><%= text_field_tag 'address' %></td>
      <div><%= submit_tag 'Submit Order' %></div>
    <% end %>
  </tbody>


<%= link_to 'Back', :back %>
