
<p>
  <strong>Buyer:</strong>
  <%= @order.buyer_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @order.seller_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @order.postcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<%= link_to 'Check Out', check_out_order_path %>
<%= link_to 'Back', :back %>
