<h1>Listing Orders</h1>
<table class="table table-bordered table-striped" style = "text-align:center;">
  <thead>
  <tr style = "text-align:center;">
    <th style = "text-align:center;">Id</th>
    <th style = "text-align:center;">Status</th>
    <th style = "text-align:center;">Total price</th>
    <th style = "text-align:center;">created_at</th>
    <th style = "text-align:center;">Detail</th>
    <th style = "text-align:center;">Pay</th>
    <th style = "text-align:center;">Delete</th>
    <th style = "text-align:center;">Refund</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr style = "text-align:center;">
        <td><%= link_to order.id, order%></td>
        <td><%= order.status %></td>
        <td><%= order.total_price %></td>
        <td><%= order.created_at.to_formatted_s(:long)  %></td>
        <td>
          <%= button_to "Detail", order_path(order), method: :get, class: "btn btn-primary" %>
        </td>

        <td>
          <%= button_to "Pay", pay_order_path(order), method: :get, class: "btn btn-primary" %>
        </td>

        <td>
        <%= button_to "Delete", order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
      </td>

      <td>
        <%= button_to "Refund", refund_order_path(order), method: :get, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
      </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%=will_paginate(@orders, :prev_label=>'Previous', :next_label=>'Next', :separator=>" | " ) %>