<h2>My Cart Products</h2>
<p id="notice"><%= notice %></p>

<%= form_tag('/orders/new_cart_orders') do %>
<table class="table table-bordered table-striped" style = "text-align:center;">
  <thead>
  <tr style = "text-align:center;">
    <th style= "width:30px"></th>
    <th style = "text-align:center;">Title</th>
    <th style = "text-align:center;">unit price</th>
    <th style = "text-align:center;">Quantity</th>
    <th style = "text-align:center;">Total price</th>
    <th style = "text-align:center;">Delete</th>
  </tr>
  </thead>
  <tbody>

      <% @show_cart_list.each do |show_cart_item| %>
          <tr>
            <td><%= check_box_tag "cart_product_ids[]", show_cart_item[:id], :id => "cart_product_ids_#{show_cart_item[:id]}" %> </td>
            <td><%= show_cart_item[:title] %></td>
            <td><%= show_cart_item[:price] %></td>
            <td><%= number_field(:purchase, :quantity, in: 1..show_cart_item[:stock], step: 1, value: show_cart_item[:quantity]) %></td>
            <td><%= show_cart_item[:total] %></td>
            <td><%= link_to 'Delete', "/cart_products/#{show_cart_item[:id]}", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
          </tr>
      <% end %>

  </tbody>
</table>
      <div>
        <%= submit_tag 'Check Out' , class: "btn btn-primary" %>
      </div>
  <% end %>

<br>


<%=will_paginate(@show_cart_list, :prev_label=>'Previous', :next_label=>'Next', :separator=>" | ") %>


