<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ebuy", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <% if signed_in? %>

          <% if current_user.has_role? :admin %>
          <li><%= link_to "Manage Request", "/orders/request_manager" %></li>
          <% end %>

          <li><%= link_to "Sell", "/products/choose_new_type" %></li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              My Order <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "check purchase", "/orders/show_order?type=purchase" %></li>
              <li><%= link_to "check sells", '/orders/show_order?type=sell' %></li>
            </ul>
          </li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Cart <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Cart", '/cart_products/show_cart' %></li>
            </ul>
          </li>
           <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.email %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Change Password", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<div class = "navigation">
<div class = "search">
  <%= form_tag products_path, :method => :get do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name=>nil%>
  <% end %>
</div>

<div class = "product-navigation">
  <ul class="nav nav-tabs">
    <li class = "active"><%= link_to "Home", root_path %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Cloth <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
    <li><a href="/products/category_products?type=Cloth&category=Top">Tops</a></li>
    <li><a href="/products/category_products?type=Cloth&category=Bottom">Bottoms</a></li>
    <li><a href="/products/category_products?type=Cloth&category=Outwear">OutWears</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Book <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/products/category_products?type=Book&category=Textbook">Textbooks</a></li>
        <li><a href="/products/category_products?type=Book&category=Children's Book">Children's Books</a></li>
        <li><a href="/products/category_products?type=Book&category=Novel">Novel</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Snack <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/products/category_products?type=Snack&category=ChipsCrips">Chips & Crips</a></li>
        <li><a href="/products/category_products?type=Snack&category=Cookies">Cookies</a></li>
        <li><a href="/products/category_products?type=Snack&category=Jerky">Jerky</a></li>
        <li><a href="/products/category_products?type=Snack&category=Nuts & Seeds">Nuts & Seeds</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>
